.task-input{
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.task-input input[type='text']{
  padding: 0.5rem;
  border: none;
  font-size: 1.2rem;
  width: 75%;
  border-radius: 0.5rem;
}

.add-btn{
  border: none;
  background: white;
  font-size: 1.2rem;
  color: var(--primary-color);
  text-align: center;
  border-radius: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

.add-btn:hover{
  background-color: var(--primary-color);
  color: white;
}

